.App {
  text-align: center;
}

.itmes {
  margin-bottom: 1rem;
  padding: 1rem;
  height: 100px;
}

.items1 {
  background: lightblue;
}

.items2 {
  background: lightcyan;
}

.items3 {
  background: lightgoldenrodyellow;
}
.comments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.comments > div {
  border:1px solid #333;
}